<a href="https://colab.research.google.com/github/cmarta22/Diagnostico_de_VIH/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
from google.colab import files

In [31]:
df1 = pd.read_excel("/content/drive/MyDrive/Diagnostico VIH 2018-2023.xlsx", header=2)
df2 = pd.read_excel("/content/drive/MyDrive/Tipo de Relacion 2016-2023.xlsx", header=2)
df3 = pd.read_excel("/content/drive/MyDrive/Diagnostico vih por jurisdiccion-sexo.xlsx", header=2)
df4 = pd.read_excel("/content/drive/MyDrive/Diagnosticos casos- tasas-2018-2023.xlsx", header=2)

In [32]:
#  Ver columnas de cada dataset
print("Columnas df1:")
print(df1.columns)
print("\nColumnas df2:")
print(df2.columns)
print("\nColumnas df3:")
print(df3.columns)
print("\nColumnas df4:")
print(df4.columns)

Columnas df1:
Index(['Buenos Aires', '10 a 14 años', 'Varones cis', 0.001, '0.001.1',
       '0.001.2'],
      dtype='object')

Columnas df2:
Index(['Buenos Aires', 'Relaciones sexuales con mujeres', 0.447, 0.389, 0.366,
       0.324],
      dtype='object')

Columnas df3:
Index(['Buenos Aires', 'Mujeres cis', 37, 36, 38], dtype='object')

Columnas df4:
Index(['Caba', 747, '24,3', 'Ambos sexos', 2018], dtype='object')

In [33]:
print(df_merge_2.columns)
print(df4.columns)

Index(['JURISDICCION', 'EDAD', 'SEXO', '2018-2019_x', '2020-2021_x',
       '2022-2023_x', 'TIPO DE RELACION', '2016-2017', '2018-2019_y',
       '2020-2021_y', '2022-2023_y', '2018-2019', '2020-2021', '2022-203'],
      dtype='object')
Index(['Caba', 747, '24,3', 'Ambos sexos', 2018], dtype='object')

In [37]:
print("Columnas de df_merge_2:", df_merge_2.columns.tolist())
print("Columnas de df4:", df4.columns.tolist())

Columnas de df_merge_2: ['JURISDICCION', 'EDAD', 'SEXO', '2018-2019_x', '2020-2021_x', '2022-2023_x', 'TIPO DE RELACION', '2016-2017', '2018-2019_y', '2020-2021_y', '2022-2023_y', '2018-2019', '2020-2021', '2022-203']
Columnas de df4: ['Caba', 747, '24,3', 'Ambos sexos', 2018]

In [48]:
# 3. Corregir el nombre de la columna en df4 (para estandarizar sin tilde)
df4 = df4.rename(columns={'JURISDICCIÓN': 'JURISDICCION'})

In [50]:
print("--- Columnas de df1 ---")
print(df1.columns.tolist())

print("\n--- Columnas de df2 ---")
print(df2.columns.tolist())

--- Columnas de df1 ---
['Buenos Aires', '10 a 14 años', 'Varones cis', 0.001, '0.001.1', '0.001.2']

--- Columnas de df2 ---
['Buenos Aires', 'Relaciones sexuales con mujeres', 0.447, 0.389, 0.366, 0.324]

In [51]:
# **2. Estandarizar Claves de Fusión (por la tilde)**
# Esto asegura que la fusión no falle por un error de ortografía si la carga fue correcta
df4 = df4.rename(columns={'JURISDICCIÓN': 'JURISDICCION'})